body{
    margin: 0;
}

h1{
    margin-top: 0;
}

.top-container{
    background-color: #F0E3FF;
}

.middle-container{
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.bottom-container{
    height: 200px;
    width: 200px;
    background-color: rgb(157, 255, 189);
}
